astroid @ file:///C:/ci/astroid_1592495992870/work
certifi==2020.6.20
click==7.1.2
colorama @ file:///tmp/build/80754af9/colorama_1603211150991/work
cycler==0.10.0
Flask==1.1.2
isort @ file:///tmp/build/80754af9/isort_1602603989581/work
itsdangerous==1.1.0
Jinja2==2.11.2
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib @ file:///C:/ci/matplotlib-base_1592846129657/work
mccabe==0.6.1
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy==1.18.5
pandas @ file:///C:/ci/pandas_1592833608684/work
pylint @ file:///C:/ci/pylint_1598624066230/work
pymongo==3.9.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
scipy @ file:///C:/ci/scipy_1592930618155/work
six==1.15.0
SQLAlchemy==1.3.17
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
tornado==6.0.4
typed-ast==1.4.1
Werkzeug==1.0.1
wincertstore==0.2
wrapt==1.11.2
